<h1>Add a New Book To The Library</h1>


<form action="/books/create" method="POST">

    <label for="">Name</label>
    <input type="text" name="bookTitle">

    <label for="">Description</label>
    <input type="text" name="description">

    <label for="">Author</label>
    <input type="text" name="theAuthor">

    <label for="">Rating</label>
    <input type="number" name="rating">

    <button>Create</button>



</form>