

<h1>Search For An Artist</h1>




<form action="/search" method="GET">


    <label for="">Artist Name</label>
    <input type="text" name="theSearchThingy">

    <button>Submit</button>





</form>