.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }


  .title{
      background-color: bisque;
  }

  img{
      width: 300px;
  }

  .blah{
      background: blue;
  }


  .wow{
      color: red;
  }