

<h2>Sign Up For a New Account</h2>

<form action="/accountDetails" method="POST">


    <label for="">Username</label>
    <input type="text" name="theUserNameThing">

    <label for="">Password</label>
    <input type="text" name="thePasswordThing">


    <button>Submit</button>




</form>