
<h1>Welcome To Profile Page</h1>

<h3>Welcome Back {{theUserNameVariable}}</h3>



<form action="/search" method="GET">


  <input type="text" name="city" id="">

  <input type="text" name="start-date" id="">

  <input type="text" name="end-date" id="">
  <button type="submit">SEARCH</button>
  
</form>