<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/whatever.css">
    <title>Document</title>
</head>
<body>

        <a href="/">Home</a>
    <a href="/about">About Us</a>




        <h1>Welcome To Wow Page</h1>
            <h2> Enjoy a Short List of Animals </h2>
            <ul>
            <li> Dog </li>
            <li> Cat </li>
            <li> Rhinocerous </li>
            <li> Hippopotamus </li>
            <li> Meercat </li>
            <li> Beluga Whale </li>
            <li> Naked Mole Rat </li>
            <li> Guinea Pig </li>
            <li> Monitor Lizard </li>
            <li> Wolf </li>
            </ul>
        
        
        
            <img src="/images/wolf.png" alt="">
        
        
        


    
</body>
</html>




