<h1>This is the coolest page in the history of human history</h1>

{{#if message}}
<div>{{message}}</div>
{{/if}}


<img src="https://earthjustice.org/sites/default/files/styles/image_800x600/public/mexican-gray-wolf_don-burkett-800.jpg?itok=LadqU1Ws" alt="">

