<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout">log out
    <a href="/coolpage">The Cool Page</a>
    <a href="/othercoolpage">other page</a>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
