<div class="index-container">

    <img src="/images/beer.png" alt="A Foamy Beer Mug">


    <button>
        <a href="/beers">Show Me The Beers!</a>
    </button>


    <button>
        <a href="/rando">Show Me A Random Beer</a>
    </button>
  
</div>