<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IroNBA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

    <div>
        <a href="/">Home</a>
        <a href="/players">Players</a>
        <a href="/teams">Teams</a>

    </div>




  {{{ body }}}


<div>
This is the Footer

<div>Copyright 2018</div>

</div>


</body>
</html>