
<h1>Get The List of Movies</h1>
<button id="fetch-movies">Fetch Movies</button>





<label for="">title</label>
<input id="title" type="text">

<label for="">genre</label>
<input id="genre" type="text">


<label for="">image</label>
<input id="image" type="text">

<button id="add-new-movie">Create</button>

<div id="results"></div>