

    <h1>Welcome To {{celeb.name}}'s Page!</h1>


    <h6>
    occupation: {{celeb.occupation}}

    </h6>

    <p>
    catchphrase: {{celeb.catchphrase}}

    </p>

        <a href="/celebrities/edit/{{celeb._id}}">
            <button>Edit This Celebrity</button>
        </a>